<div class="footer">
    <footer class="text-center text-white">
        <div class="container">
            <section class="mt-5">
                <div class="d-flex text-center flex-wrap d-flex justify-content-center gap-3">
                    <h6 class="text-uppercase font-weight-bold">
                        <NavLink href="/" class="text-white text-decoration-none">Home</NavLink>
                    </h6>
                    <h6 class="text-uppercase font-weight-bold">
                        <NavLink href="about" class="text-white text-decoration-none">About us</NavLink>
                    </h6>
                    <h6 class="text-uppercase font-weight-bold">
                        <NavLink href="portfolio" class="text-white">Portfolio</NavLink>
                    </h6>
                    <h6 class="text-uppercase font-weight-bold">
                        <NavLink href="contact" class="text-white">Contact</NavLink>
                    </h6>
                    <h6 class="text-uppercase font-weight-bold">
                        <NavLink href="experience" class="text-white">Experience</NavLink>
                    </h6>
                    <h6 class="text-uppercase font-weight-bold">
                        <NavLink href="blog" class="text-white">Blog</NavLink>
                    </h6>
                </div>
            </section>

            <hr class="my-5" />

            <section class="mb-5">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-8">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt
                            distinctio earum repellat quaerat voluptatibus placeat nam,
                            commodi optio pariatur est quia magnam eum harum corrupti
                            dicta, aliquam sequi voluptate quas.
                        </p>
                    </div>
                </div>
            </section>
            <section class="text-center mb-5">
                <NavLink href="https://www.facebook.com/fery.irawansyah.58" target="_blank" class="text-white me-4">
                    <i class="bi bi-facebook"></i>
                </NavLink>
                <NavLink href="/" class="text-white me-4">
                    <i class="bi bi-twitter"></i>
                </NavLink>
                <NavLink href="https://www.instagram.com/fery_ir.1" target="_blank" class="text-white me-4">
                    <i class="bi bi-instagram"></i>
                </NavLink>
                <NavLink href="https://www.linkedin.com/in/feri-irawansyah" target="_blank" class="text-white me-4">
                    <i class="bi bi-linkedin"></i>
                </NavLink>
                <NavLink href="https://github.com/Snakesystem" target="_blank" class="text-white me-4">
                    <i class="bi bi-github"></i>
                </NavLink>
            </section>
        </div>
        <div class="text-center p-3"
             style="background-color: rgba(0, 0, 0, 0.2)">
            © 2020 Copyright:
            <NavLink class="text-white" target="_blank" href="https://github.com/Snakesystem">Feri Irawansyah</NavLink>
        </div>
    </footer>
</div>

@code {

}
