* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh !important;
}

/* HTML dan body mengisi seluruh tinggi halaman */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

nav {
    background-color: rgba(0, 0, 0, 0.2);
}

/* Main akan mengambil semua sisa ruang, menjaga footer di bawah */
main {
    flex: 1;
} 

.welcome {
    font-size: 45px;
    margin-left: auto;
}
/* Footer akan berada di bagian bawah halaman */
.footer {
    background-color: rgba(0, 0, 0, 0.2);
    /*padding: 1rem 0;*/
    color: white;
    text-align: center;
}

.portfolio-iframe {
    width: 100%;
    margin-bottom: 1rem;
    max-height: 600rem;
    height: 40rem;
    border-radius: 5px;
}


a {
    text-decoration: none !important;
}

@media screen and (min-width: 768px) {
    .navbar-toggler {
        display: none !important;
    }
}

@media screen and (max-width: 768px) {
    .navbar-toggler {
        border: none;
        cursor: pointer;
    }
    .navbar-toggler span {
        display: block;
        background-color: #4f4f4f;
        height: 3px;
        width: 25px;
        margin-top: 5px;
        margin-bottom: 5px;
        position: relative;
        left: 0;
        opacity: 1;
        transition: all 0.35s ease-out;
        transform-origin: center left;
    }

    .navbar-toggler span:nth-child(1) {
        margin-top: 0.3em;
    }

    .navbar-toggler:not(.collapsed) span:nth-child(1) {
        transform: translate(15%, -33%) rotate(45deg);
    }

    .navbar-toggler:not(.collapsed) span:nth-child(2) {
        opacity: 0;
    }

    .navbar-toggler:not(.collapsed) span:nth-child(3) {
        transform: translate(15%, 33%) rotate(-45deg);
    }

    .navbar-toggler span:nth-child(1) {
        transform: translate(0%, 0%) rotate(0deg);
    }

    .navbar-toggler span:nth-child(2) {
        opacity: 1;
    }

    .navbar-toggler span:nth-child(3) {
        transform: translate(0%, 0%) rotate(0deg);
    }

    .navbar-collapse {
        height: 7rem;
        overflow-y: auto;
    }

    .welcome {
        font-size: 1rem;
        margin: 0 !important;
        padding: 0 !important;
        margin-top: 20px !important;
    }

    .my-name {
        font-weight: bold !important;
    }
}
