.markdown-body {
    h1 {
        font-size: 1.9rem;
        font-weight: 600;
        line-height: 1.5;
        border-bottom: 2px solid $primary;
        color: $success;
    }

    h2 {
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 1.5;
        color: $success;
    }

    h3 {
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 1.5;
        color: $info;
    }

    pre {
        border-radius: 5px;
        padding: 1rem;
    }
}