.markdown-body {
  h1 {
    font-size: 1.9rem;
    font-weight: 600;
    line-height: 1.5;
    border-bottom: 2px solid $primary;
    color: $success;
  }

  h2 {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.5;
    color: $success;
  }

  h3 {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.5;
    color: $info;
  }

  pre {
    border-radius: 5px;
    padding: 1rem;
  }
}

.card-marquee {
  background-color: transparent;
  border: none;
  padding: 0;

  .marquee-wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 5rem;
    // background-color: color-mix(in srgb, var(--default-color), transparent 90%);
  }

  .marquee-content {
    display: flex;
    align-items: center;
    gap: 3rem;
    height: 5rem;
    white-space: nowrap;
    animation: scroll-left 20s linear infinite;
  }
  
  .marquee-right {
    display: flex;
    gap: 3rem;
    height: 5rem;
    white-space: nowrap;
    animation: scroll-right 20s linear infinite;
  }

  .skill-icon {
    width: 3rem;
    height: 3rem;
    object-fit: contain;
    flex-shrink: 0;
  }
}

/* Infinite scroll animation */
@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scroll-right {
  100% {
    transform: translateX(100%);
  }
  0% {
    transform: translateX(0%);
  }
}
