.markdown-body {
    h1 {
        font-size: 1.9rem;
        font-weight: 600;
        line-height: 1.5;
        border-bottom: 2px solid $primary;
        color: $success;
    }

    h2 {
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 1.5;
        color: $success;
    }

    h3 {
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 1.5;
        color: $info;
    }

    pre {
        border-radius: 5px;
        padding: 1rem;
    }
}

.card-marquee {
    background-color: transparent;
    border: none;
    padding: 0;
    .marquee-wrapper {
        display: flex;
        align-items: center;
        overflow: hidden;
        height: 5rem;
        background-color: color-mix(in srgb, var(--default-color), transparent 90%);;
    }
    .marquee-content {
        height: 5rem;
        padding: 1rem 0;
        display: flex;
        gap: 3rem;
        animation: scroll-left 10s linear infinite;
        white-space: nowrap;
    }

    .marquee-right {
        animation: scroll-right 10s linear infinite;
    }
    
    .skill {
      font-size: 1.2rem;
      font-weight: bold;
      padding: 0 1rem;
      flex-shrink: 0;
    }
    
    img {
        width: 100% !important;
        height: 100% !important;
        border-radius: 10px;
    }
}


/* Infinite scroll animation */
@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scroll-right {
  100% {
    transform: translateX(100%);
  }
  0% {
    transform: translateX(0%);
  }
}
