// Font Families
$default-font: "Roboto", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$heading-font: "Raleway", sans-serif;
$nav-font: "Poppins", sans-serif;

// Global Colors
$background-color: #ffffff;
$default-color: #272829;
$heading-color: #45505b;
$accent-color: #0563bb;
$surface-color: #ffffff;
$contrast-color: #ffffff;
$custom-menu-color: #45505b;

// Nav Menu Colors
$nav-color: #45505b;
$nav-hover-color: #0563bb;
$nav-mobile-background-color: #ffffff;
$nav-dropdown-background-color: #ffffff;
$nav-dropdown-color: #212529;
$nav-dropdown-hover-color: #0563bb;

// Light Theme Overrides
$light-background-color: #fafcff;
$light-surface-color: #ffffff;

// Dark Theme Overrides
$dark-background-color: #252525;
$dark-default-color: #ffffff;
$dark-heading-color: #ffffff;
$dark-surface-color: #252525;
$dark-contrast-color: #ffffff;
$dark-custom-menu-color: #ffffff;
$dark-nav-color: #ffffff;
$dark-nav-hover-color: #0563bb;
$dark-nav-mobile-background-color: #252525;
$dark-nav-dropdown-background-color: #252525;
$dark-nav-dropdown-color: #ffffff;
$dark-nav-dropdown-hover-color: #0563bb;

$swal-text-color: #000;
$swal-title-font-size: 2.5em;
$swal-text-font-size: 1.2em;

$swal-backdrop-background-color: rgba(#000, .5);

$swal-container-padding: .8em 1em;
$swal-container-background-color: #fff;
$swal-container-border-radius: .25em;
$swal-container-width: 60vw;
$swal-container-height: auto;
$swal-container-min-width: 200px;
$swal-container-max-width: 600px;
$swal-container-min-height: 100px;
$swal-container-max-height: 600px;
$swal-container-transition-duration: 200ms;

$swal-buttons-text-color: #fff;
$swal-buttons-border-radius: .25em;
$swal-buttons-font-size: 1em;
$swal-buttons-padding: 10px 15px;
$swal-confirm-button-background-color: #7066e0;
$swal-deny-button-background-color: #dc3741;
$swal-cancel-button-background-color: #6e7881;

$swal-icon-size: 110px;
$swal-success-icon-color: #a5dc86;
$swal-success-stroke-width: 0.2mm;
$swal-warning-mark-color: #f8bb86;
$swal-warning-border-color: #facea8;
$swal-error-cross-color: #f27474;
$swal-error-border-color: #f27474;
$swal-info-border-color: #9de0f6;
$swal-info-mark-color: #3fc3ee;
$swal-question-border-color: #c9dae1;
$swal-question-mark-color: #87adbd;
$swal-rounded-icons-border-width: 5px;

$primary: #6135ff;
$secondary: #6e7881;
$success: #11a6c0;
$danger: #f34040;
$warning: #f89757;
$info: #29e6ff;
$light: #f8f9fa;
$dark: #343a40;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
